/******************************/
/*         CSS REMEDY         */
/******************************/

::before, ::after { 
  box-sizing: border-box; 
}

body { 
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}


/******************************/
/*     CUSTOM PROPERTIES      */
/******************************/
:root {
    --background-color:white;
    --button-color: rgb(211, 26, 26);
    --title-color: rgb(24 24 24);
    --footer-background-color: rgb(38 38 38);
    --p-color: rgb(70 70 70);
    --section-p-color: white;
    --footer-p-color: rgb(188 188 188);
    --social-a-color: rgb(239 214 84);
    --social-background-color: rgb(124 193 154);
    --section-background-color: rgb(255 250 240);
    --article-background: rgb(50,131,132);
    --article-background-2: rgb(75,148,86);
}

@font-face {
  font-family:'calibri-regular';
  src:url('../font/calibri-regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'grotesque-bold';
  src:url('../font/Grotesque-Bold-Extended.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'grotesque-regular';
  src:url('../font/Grotesque-Light-Condensed.ttf');
  font-weight:normal;
  font-style:normal;
}




/******************************/
/*     ALGEMENE STIJLEN       */
/******************************/

hr.divider {
  border: 0.1px solid;
  opacity: 0.1;
}


h1 {
    font-family:'grotesque-bold', sans-serif;
    font-size: 3em;
    text-transform:uppercase;
    margin: 0;
    color:var(--section-p-color);
}


h2 {
    font-family:'grotesque-bold', sans-serif;
    text-transform:uppercase;
    color:var(--title-color);
}


p {
    font-family:'calibri-regular', sans-serif;
    font-size: 1.1em;
    font-weight: light;
    color: var(--p-color, rgb(70 70 70));
    padding-right: 1.5em;
    margin-bottom: 1em;
}

section p:first-of-type {
  font-family: 'grotesque-regular', sans-serif;
  font-size: 1em;
  text-transform:uppercase;
  font-weight: black;
}

section li a{
  text-transform:uppercase;
  font-family: 'grotesque-regular', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:var(--title-color);
  text-decoration: none; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section ul{
  display: block;
  list-style-type: none;
}

section li img {
  display: flex;
}

section a {
  text-transform:uppercase;
  font-family:'grotesque-bold', sans-serif;
  text-decoration: none; 
  display: inline-block;
  font-size: 0.7em;
  padding: 1.5em 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}


/******************************/
/*           HEADER           */
/******************************/


header button {
  border: none;
  background: none;
}

header li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'grotesque-bold', sans-serif;
  color: var(--title-color);
  font-size: 1.5em;
}

/* =========================
   laptop versie
   ========================= */

@media (min-width: 800px) {
  header ul:last-of-type, header > nav > div:nth-of-type(1), nav ul:nth-of-type(1) li:nth-of-type(2) button {
    display: none;
  }

    header ul{
    display: flex;
    gap: 2em;
    align-items: end;
    justify-content: end;
    margin-right: 3em;
}
}


/* =========================
   default (menu dicht)
   ========================= */
@media (max-width: 800px) {
  nav ul {
    display: none;
  }

  nav > div:nth-of-type(1) {
    background-color: var(--section-p-color);
    padding-left: 2em;
    display: flex;
    padding: 1.5em;
  }

  nav > div > button:first-of-type img {
    width: 2em;
    padding-left: 10em;
  }
}

/* =========================
   hamburger open (toonMenu actief)
   ========================= */

@media (max-width: 800px) {
  nav.toonMenu ul {
    display: block;
    padding: 2em;
  }

  nav.toonMenu ul:nth-of-type(1) {
    background-color: var(--section-p-color);
  }

  nav.toonMenu ul:nth-of-type(1) div {
    margin-bottom: 3em;
  }

  nav.toonMenu ul li:nth-child(1) a {
    margin-top: 7em;
  }

  nav.toonMenu ul:nth-of-type(1) li a {
    line-height: 2.5em;
  }

  nav.toonMenu div {
    display: flex;
  }

  nav.toonMenu button img {
    height: 1.5em;
    margin-left: 10em;
  }

  nav.toonMenu ul:last-of-type {
    background-color: var(--title-color);
    display: flex;
    gap: 0.5em;
  }

  nav.toonMenu ul:nth-of-type(2) {
    justify-content: center;
  }

  nav.toonMenu header nav ul:last-of-type li:last-child img {
    width: 1.2em;
  }
}





/******************************/
/*           FOOTER           */
/******************************/

footer {
  background-color: var(--footer-background-color, rgb(38 38 38));
  padding-top: 3em;
}

@media (min-width: 800px) {
  .footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3em;
  }

  .footer-top > div, .footer-top > ul {
    flex: 0 0 25%; 
    max-width: 25%;
  }

  .footer-top > div:last-of-type {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-top li a{
  height: auto;

}
}

@media (max-width: 800px) {  
  .footer-top {
      margin-left: 2em;
    }

  .footer-top div:nth-of-type(1) h2 {
      font-size: 0.8em;
}

}


.footer-top li, .footer-top p{
  font-family: 'grotesque-regular', sans-serif;
  text-transform:uppercase;
  color: var(--footer-p-color);
}

.footer-top a{
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  font-family:'grotesque-bold', sans-serif;
}

  .footer-top ul img{
  padding-right: 0;
}


.footer-top img{
  width: 80%;
  height: auto;
  padding-right: 2em;
}

.footer-top div:nth-of-type(1) ul {
  display: flex;
}

.footer-top div:nth-of-type(1) h2 {
  font-size: 2em;
}

.footer-top img {
  font-size: 2em;
}

.footer-top div:nth-of-type(1) ul li:nth-of-type(4) {
  width:10%;
}

.footer-bottom {
  background-color: var(--title-color);
  padding: 2em;
}

.footer-bottom p {
  font-size: 0.8em;
  margin: 0;
}

.footer-bottom img{
  width: 6em;
  height: auto;
  margin-bottom: 1em;
}

