/******************************/
/*         CSS REMEDY         */
/******************************/

::before, ::after { 
  box-sizing: border-box; 
}

body { 
  margin: 0;
}


/******************************/
/*     CUSTOM PROPERTIES      */
/******************************/
:root {
    --background-color:white;
    --button-color: rgb(211, 26, 26);
    --title-color: rgb(24 24 24);
    --footer-background-color: rgb(38 38 38);
    --p-color: rgb(70 70 70);
    --section-p-color: white;
    --footer-p-color: rgb(188 188 188);
    --social-a-color: rgb(239 214 84);
    --social-background-color: rgb(124 193 154);
    --section-background-color: rgb(255 250 240);
    --article-background: rgb(50,131,132);
    --article-background-2: rgb(75,148,86);
}

@font-face {
  font-family:'calibri-regular';
  src:url('../font/calibri-regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'grotesque-bold';
  src:url('../font/Grotesque-Bold-Extended.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'grotesque-regular';
  src:url('../font/Grotesque-Light-Condensed.ttf');
  font-weight:normal;
  font-style:normal;
}




/******************************/
/*     ALGEMENE STIJLEN       */
/******************************/
h1 {
    font-family:'grotesque-bold', sans-serif;
    font-size: 3em;
    text-transform:uppercase;
    margin: 0;
    color:var(--section-p-color);
}


h2 {
    font-family:'grotesque-bold', sans-serif;
    text-transform:uppercase;
    color:var(--title-color);
}


p {
    font-family:'calibri-regular', sans-serif;
    font-size: 1.1em;
    font-weight: light;
    color: var(--p-color, rgb(70 70 70));
    padding-right: 1.5em;
    margin-bottom: 1em;
}

section p:first-of-type {
  font-family: 'grotesque-regular', sans-serif;
  font-size: 1em;
  text-transform:uppercase;
  font-weight: black;
}

li a{
  text-transform:uppercase;
  font-family: 'grotesque-regular', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:var(--title-color);
  text-decoration: none; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul{
  display: block;
  list-style-type: none;
}

li img {
  display: flex;
}

a {
  text-transform:uppercase;
  font-family:'grotesque-bold', sans-serif;
  text-decoration: none; 
  display: inline-block;
  font-size: 0.7em;
  padding: 1.5em 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}


/******************************/
/*           HEADER           */
/******************************/

  nav {
    position: fixed;
    inset: 0;
    transform: translateX(-100%);
    transition: transform.3s ease;
    background: var(--section-background-color, rgb(255 250 240));
    padding: 1em;
  }


/******************************/
/*           FOOTER           */
/******************************/

footer {
  background-color: var(--footer-background-color, rgb(38 38 38));
  padding-left: 2em;
}

.footer-top {
  display: flex;
  align-items: flex-start;
}

.footer-top li, .footer-top p{
  font-family: 'grotesque-regular', sans-serif;
  text-transform:uppercase;
  color: var(--footer-p-color);
}

.footer-top a{
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  font-family:'grotesque-bold', sans-serif;
}

.footer-top div:nth-of-type(1) ul {
  display: flex;
}

.footer-top div:nth-of-type(1) h2 {
  font-size: 2em;
}

.footer-top img {
  font-size: 2em;
}




